.Wrapper {
  border: 1px solid var(--color-text);
  height: 448px;
  margin-top: 384px;
  margin-left: -287px;
  position: relative;
  background-color: var(--color-background);
}

.Categories {
  position: absolute;
  top: 12px;
  left: -185px;
}

.Listing {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 48px 8px;
  writing-mode: vertical-lr;
  align-content: flex-start;
}

.MenuItem {
  width: min-content;
  margin: 16px 24px;
  writing-mode: horizontal-tb;
  flex-grow: 1;
}

.ItemPrice {
  font-family: "Bayon", sans-serif;
  font-size: 24px;
  margin-left: 64px;
}

.ItemDesc {
  font-family: "Hi Melody", sans-serif;
  font-size: 24px;
  text-wrap: wrap;
  text-align: start;
  /* width: min-content; */
}
